.header {
	width: 100%;
	height: 60px;
	padding: 15px 30px;
	line-height: 70px;
	top: 0;
	left: 0;
	background: hsl(209, 23%, 22%);
	color: hsl(0, 0%, 100%);
	display: flex;
}

.header h4 {
	background: hsl(209, 23%, 22%);
}

.header Button {
	color: white;
	background-color: rgb(255, 255, 255);
	position: absolute;
	border: none;
	background: transparent;
	left: 80%;
	border-radius: 50px;
}

.header Button:hover {
	color: rgb(255, 255, 255);
	background-color: hsl(207, 26%, 17%);
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.card {
	color: white;
	align-items: center;
	border: none !important;
	justify-content: center;
	align-items: center;
}

.card:hover {
	background: hsl(209, 23%, 22%);
	color: white;
}

.card Img {
	width: 100%;
	height: 130px;
}

p.card-text {
	opacity: 80%;
}

.card strong {
	font-weight: 600;
}

input.form-control {
	color: whitesmoke;
	background-color: hsl(209, 23%, 22%);
	border-radius: 5px;
	border: none;
	outline: none;
	margin-bottom: 20px;
	width: 20rem;
	height: 40px;
	padding: 0 20px;
}

.search {
	padding-top: 50px;
	padding-left: 70px;
	display: flex;
	justify-content: space-between;
}

.search-icon {
	display: flex;
}

.filter-icon {
	padding-right: 130px;
	display: flex;
}

.filter {
	margin-left: 20px;
}

select.form-select {
	color: whitesmoke;
	background-color: hsl(209, 23%, 22%);
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	width: 10rem;
	height: 40px;
	padding: 0 20px;
}

.icon {
	padding-right: 10px;
	padding-top: 8px;
}

.country-wrapper {
	margin-top: 120px;
}

.country-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.country-info strong {
	font-weight: 600;
}

.country-info h4 {
	font-weight: 800;
}

.country-info p {
	opacity: 80%;
}

.country-info li {
	display: inline;
}

.country-info-img {
	width: 100%;
	height: 100%;
}

.back Button {
	background-color: hsl(209, 23%, 22%);
	color: white;
	border: none;
	border-radius: 50px;
}

.back {
	padding: 20px;
}
