@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.app {
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	/* background-color: hsl(207, 26%, 17%); */
	color: aliceblue;
}

* {
	background-color: hsl(207, 26%, 17%);
}
